
body {
    margin: 0;
    /* --nav-load-time: 300ms;
    --nav-link-load-time: 500ms; */

    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgb(0, 61, 92);
    /* animation: nav-load var(--nav-load-time) ease-in; */
    
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style-type: none;
    padding: 1rem;
    /* animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-delay: var(--nav-load-time);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    transform: scale(0); */
    
}

/* nav li:first-child {
    animation: nav-first-link-load;
    transform: translateX(0);
}

nav li:last-child {
    animation: nav-last-link-load;
    transform: translateX(0%);
} */

nav li:hover {
    background-color: #ffffff20;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr auto 1fr;
    
}


article, .sidebar {
    padding: 0 1rem;
}

.sidebar {
    background-color: bisque;
}


footer {
    background-color: gray ;
    display: flex;
    justify-content: center;
}



/* @keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translate(0);
    }
    
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
    
}

@keyframes nav-first-link-load {
    0% {
        transform: translateX(-1000%);
    }

    90% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
    
}

@keyframes nav-last-link-load {
    0% {
        transform: translateX(1000%);
    }

    90% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
    
} */