/* General CSS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* Tab Specific CSS */

[data-content] {
    display: none;
}

.active[data-content]
{
    display: -ms-grid;
    display: grid;
}

.layout {
    height: 95vh;
   
}

.container {
    background-color: gray;

}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: o.5rem;
}

.tab.active {
    background-color: #CCC;
  }

.tab:hover {
    background-color: #AAA;
  }


/* LAYOUT 1 */
/* #layout1 {
    display: grid;
    grid-template-rows: 10vh 75vh 10vh;
    gap: 0.5rem;
} */


/* LAYOUT 2 */
/* #layout2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px;
    gap: 0.5rem;
} */


/* LAYOUT 3 */
#layout3 {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0.5rem;
}


#body3 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}


